# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

/images
/d
